:root{

}
*{
    list-style: none;
    color: white;
}
body{
    margin: auto;
    padding: auto;
}
#cabeca{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #0B1B3D;
}
#cabeca li{
    list-style: none;
}
.imagem img{
    width: 6vw;
    padding: 1.5vh;
}
.botoeslist{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Iosevka Charon", monospace;
    font-weight: 400;
    font-style: normal;
}
.botoeslist ul{
    display: flex;
    gap: 8vh;
    font-size: 1.2vw;
}
.sociais{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.4vh;
}
.sociais img{
    width: 2.6vw;
}

#anuncio{
    position: relative;
    display: inline-block;
    width: 100%;

}
#anuncio img{
    width: 100%;
    height: auto;
    display: block;
    filter: brightness(0.6);
}
.texto{
    position: absolute;
    bottom:20px;
    transform: translateX(6%) translateY(-20%);
    font-size: 1.6vw;
    width: 50vw;
    font-family: "Google Sans Flex", sans-serif;
    font-weight: 300;
}
.texto a{
    text-decoration: none;
}
a span{
    background-color: #0B1B3D;
    padding: 1vw 6vw;
    border-radius: 20px;
}

#info{
    background-color: #BFCFA1;
    margin-top: -5px;
    padding: 2vh;
    text-align: center;
    font-family: "Jost", sans-serif;
    color: #111827;
}
#info span{
        color: #111827;
        font-size: 1.3vw;
}

#corpo2{
    background-color: #0B1B3D;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.pessoa img{
    width: 25vw;
}
.informacao{
    font-family: "Gudea", sans-serif;
    font-weight: 400;
    font-size: 2.5vw;
    width: 22vw;
    justify-content: center;
    align-items: center;
    transform: translateX(-50%) translateY(-15%);
}
.informacao ul{
    font-size: 1.3vw;
}
li{
    list-style:circle;
}
.p2{
    margin-top: -10%;
    font-size: 1.3vw;
}

.area{
    font-family: "Gudea", sans-serif;
    display: flex;
    background-color: #F8F9FA;
    padding: 2vw;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.area p{
    color: #111827;
    font-size: 1.3vw;
}
.area img{
    width: 6vw;
}
.area span{
    background-color: #BFCFA1;
    color: #4B4B4B;
    font-family: "Gudea", sans-serif;
    font-size: 1.1vw;
    padding:0.5vw 2vw;
    margin: 0px 5vh;
}
.area a{
    text-decoration: none;
}
#corpo3{
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column; 
    font-family: "Gruppo", sans-serif;
    color: black;
    padding: 2vw;
    background-color: white;
}
#texto, #subtexto{
    color: black;
}
#corpo3 #texto{
    font-size: 2.5vw;
    margin-bottom: 0px;

}
#corpo3 #subtexto{
    font-size: 1.5vw;
}